.ut--l_r_margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.ut--max-content-width {
    max-width: max-content;
}

.header {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
}