.quotation-display {
    display: block;
}

.change-conversion {
    display: flex;
    justify-content: flex-start;
    margin-top: .4rem;
    font-size: 1.1rem;
}

.change-swap {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.card--footer {
    display: block;
    text-align: end;
    margin-right: .8rem;
    margin-bottom: .4rem;
}

.conversion {
    font-size: 1.1rem;
}
