.conversion-panel {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.conversion-settings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.quotation-select-group {
  display: flex;
  flex-direction: column;
}

.select-label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #bbb;
}

.conversion-toggle-group {
  display: flex;
  flex-direction: column;
}

.toggle-label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #bbb;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.swap-btn {
  background-color: #2dd36f;
  border-radius: 8px;
  padding: 0.4rem 0.6rem;
  color: white;
}

.conversion-select {
  flex: 1;
  max-width: max-content;
}

.swap-labels {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.9rem;
}

.conversion-input {
  margin-top: 1.2rem;
}

.conversion-card {
  margin-top: 1.5rem;
}

.conversion {
  display: block;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.conversion-buy {
  color: #2dd36f;
  font-weight: 600;
}

.conversion-sell {
  color: #eb445a;
  font-weight: 600;
}

.card--footer {
  display: block;
  text-align: end;
  font-size: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.4rem;
  color: #92949c;
}
